pkgbase = python-urllib3
	pkgdesc = HTTP library with thread-safe connection pooling and file post support
	pkgver = 1.26.19
	pkgrel = 1
	url = https://github.com/urllib3/urllib3
	arch = any
	license = MIT
	checkdepends = python-brotli
	checkdepends = python-certifi
	checkdepends = python-cryptography
	checkdepends = python-dateutil
	checkdepends = python-flaky
	checkdepends = python-gcp-devrel-py-tools
	checkdepends = python-idna
	checkdepends = python-pyopenssl
	checkdepends = python-pysocks
	checkdepends = python-pytest7
	checkdepends = python-pytest-freezegun
	checkdepends = python-pytest-timeout
	checkdepends = python-tornado
	checkdepends = python-trustme
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-brotli: Brotli support
	optdepends = python-certifi: security support
	optdepends = python-cryptography: security support
	optdepends = python-idna: security support
	optdepends = python-pyopenssl: security support
	optdepends = python-pysocks: SOCKS support
	source = https://github.com/urllib3/urllib3/archive/1.26.19/python-urllib3-1.26.19.tar.gz
	sha512sums = 6b72012dbd85434b2441229cbdea2a94583693f904dde349780e1290d581c8a5e10fe00a287a032ed1276349d0078b530f16a133e0f164dcea18105fa3dec79a

pkgname = python-urllib3
